.navigation {
    background: #5D5D5D;
    border-radius: 3px;
    height: 40px;
}

.brand {
    padding-top: 12px;
    padding-right: 5px;
    color: #4b4a4a;
    font-size: 14px;
    cursor: pointer;

}

.navigationBar {
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*font-size: 15px;*/
}

.navbar {
    width: 100%;
    overflow: hidden;
}