/** Add css rules here for your application. */

/**/

.companyDivCell {
    padding: 5px 0px 5px 0px;
    width: 100%;
    margin: 15px 0 15px 0;
    background: #ffffff;
    border-bottom: solid 1px;
    border-color: #ebebeb;
    /*background: url("resources/images/clanak.gif") repeat-x;*/
    background-position: bottom center;
}

.companyTable {
    width: auto;
    text-align: left;
}

.nameCell {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 900;
}

.companyTable tr td {
    font-family: tahoma, serif;
    height: 12px;
}

.companyTable tr {

}




